.ce-inline-tool.ce-inline-tool--font {
  display: flex;
  flex-direction: row;
  position: relative;
}

.ce-inline-tool .button-wrapper-text {
  /*width: 30px;*/
}

/*.ce-inline-tool */
.selectionList {
  position: absolute;
  top: 35px;
  right: 0;
}

/*.ce-inline-tool */
.selectionList .selection-list-wrapper {
  overflow-y: scroll;
  max-height: 300px;
  background: #fff;
  border: 1px solid #eaeaea;
}

/*.ce-inline-tool */
.selectionList .selection-list-wrapper .selection-list-option {
  cursor: pointer;
  padding: 5px 20px;
  border-bottom: 1px solid #eaeaea;
}

/*.ce-inline-tool */
.selectionList .selection-list-wrapper .selection-list-option:hover {
  background-color: #eff2f5;
}

/*.ce-inline-tool */
.selectionList .selection-list-wrapper .selection-list-option-active {
  background-color: #eff2f5;
}
